<clr-datagrid>
  <clr-dg-column>Code</clr-dg-column>
  <clr-dg-column>File name</clr-dg-column>
  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-column>Create date</clr-dg-column>
  <clr-dg-column>Command</clr-dg-column>

  <clr-dg-row *clrDgItems="let document of documentList; let i = index">
    <clr-dg-cell>{{document.code}}</clr-dg-cell>
    <clr-dg-cell>{{document.name}}</clr-dg-cell>
    <clr-dg-cell>{{document.type}}</clr-dg-cell>
    <clr-dg-cell>{{document.createDate}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-info">
        <button (click)="downloadFile(document)" type="button" class="btn btn-primary btn-sm"><clr-icon shape="download-cloud" size="18"></clr-icon></button>   
        <button class="btn btn-danger btn-sm"><clr-icon shape="trash" size="18"></clr-icon></button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>