<clr-datagrid>
  <clr-dg-column>{{'Code' | translate}}</clr-dg-column>
  <clr-dg-column>{{'FileName' | translate}}</clr-dg-column>
  <clr-dg-column>{{'Type' | translate}}</clr-dg-column>
  <clr-dg-column>{{'CreateDate' | translate}}</clr-dg-column>
  <clr-dg-column>{{'Command' | translate}}</clr-dg-column>

  <clr-dg-row *clrDgItems="let document of documentList; let i = index">
    <clr-dg-cell>{{document.code}}</clr-dg-cell>
    <clr-dg-cell>{{document.name}}</clr-dg-cell>
    <clr-dg-cell>{{document.type}}</clr-dg-cell>
    <clr-dg-cell>{{document.createDate | date: 'dd/MM/yyyy'}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-info">
        <button (click)="downloadFile(document)" type="button" class="btn btn-primary btn-sm"><clr-icon shape="download-cloud" size="18"></clr-icon></button>   
        <button (click)="removeFile(document,i)" class="btn btn-danger btn-sm"><clr-icon shape="trash" size="18"></clr-icon></button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
<!-- <app-confirmation-modal [modalTitle]="'RemoveFileTitle'" [modalBody]="'RemoveFileBody'" [confirmBtn]="'Confirm'" [closeBtn]="'Cancel'"></app-confirmation-modal> -->