
  <ngx-datatable #dataTable [trackByProp]="'code'" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="40"
    [footerHeight]="40" [limit]="5" [rowHeight]="'auto'" [reorderable]="true" class="material" [scrollbarH]="true">
  </ngx-datatable>

  <ng-template #btnGroup let-row="row" let-rowIndex="rowIndex">
    <button class="btn btn-danger" (click)="removeCustomer(row,rowIndex)"><clr-icon shape="trash"></clr-icon></button>
    <button class="btn btn-info" (click)="infoBtnClicked(row,rowIndex)"><clr-icon shape="help-info"></clr-icon></button>
  </ng-template>

  <ng-template #phone let-row="row">
    {{row.phone}}
  </ng-template>

  <ng-template #code let-row="row">
    {{row.code}}
  </ng-template>

  <ng-template #fullName let-row="row">
    {{row.fullName}}
  </ng-template>

  <ng-template #address let-row="row">
    {{row.address}}
  </ng-template>
