<clr-datagrid>
  <clr-dg-column [clrDgField]="'code'">Code</clr-dg-column>
  <clr-dg-column [clrDgField]="'fullName'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'phone'">Phone</clr-dg-column>
  <clr-dg-column [clrDgField]="'address'">Address</clr-dg-column>
  <clr-dg-column>Command</clr-dg-column>

  <clr-dg-row *clrDgItems="let customer of customerList; let i = index">
    <clr-dg-cell>{{customer.code}}</clr-dg-cell>
    <clr-dg-cell>{{customer.fullName}}</clr-dg-cell>
    <clr-dg-cell>{{customer.phone}}</clr-dg-cell>
    <clr-dg-cell>{{customer.address}}</clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-info">
        <button class="btn btn-info btn-sm" (click)="infoBtnClicked(customer,i)"><clr-icon shape="help-info" ></clr-icon></button>
        <button class="btn btn-danger btn-sm" (click)="removeBtnClicked(customer,i)"><clr-icon shape="trash" ></clr-icon></button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>

<app-confirmation-modal [modalTitle]="'Delete'" [modalBody]="'Are you sure ?'" [confirmBtn]="'Confirm'" [closeBtn]="'Close'"></app-confirmation-modal>