<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" [clrModalStaticBackdrop]="true" [clrModalSize]="'lg'" #customerFormModal>
    <h3 class="modal-title">{{customerFormModalHeader | translate}}</h3>
    <div class="modal-body">
        <div class="col-md-12">
            <form [formGroup]='form'>
                <section class="form-block">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-4 row">
                                <div class="col-md-6">
                                    <label>{{'Title' | translate}} </label>
                                </div>
                                <div class="col-md-6 pull-left">
                                    <div class="select form-control">
                                        <select formControlName='title'>
                                            <option value="นาย">นาย</option>
                                            <option value="นาง">นาง</option>
                                            <option value="นางสาว">นางสาว</option>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Ms.">Ms.</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 row">
                                <div class="col-md-2">
                                    <label class="tooltip tooltip-validation tooltip-md">
                                        {{'Name' | translate}}
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
                                       <input appValidation id="name" type="text" class="form-control" formControlName='name'>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 row">
                                <div class="col-md-4">
                                    <label>{{'Surname' | translate}} </label>
                                </div>
                                <div class="col-md-8">
                                    <label for="lname" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="form.controls['lname'].invalid && (form.controls['lname'].dirty || form.controls['lname'].touched)">
                                       <input appValidation id="lname" type="text" class="form-control" formControlName='lname'>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div style="margin-top: 5vh"></div> -->
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-6 row">
                                <div class="col-md-4">
                                    <label>{{'Phone' | translate}} </label>
                                </div>
                                <div class="col-md-8 ">
                                    <label for="phone" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)">
                                       <input appValidation id="phone" type="text" class="form-control" formControlName='phone'>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 row">
                                <div class="col-md-4">
                                    <label>{{'Email' | translate}} </label>
                                </div>
                                <div class="col-md-8 ">
                                    <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
                                       <input appValidation id="email" type="text" class="form-control" formControlName='email'>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-6 row">
                                <div class="col-md-4">
                                    <label>{{'Address' | translate}} </label>
                                </div>
                                <div class="col-md-8">
                                    <textarea appValidation id="address" type="text" class="form-control" formControlName='address'></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 row">
                                <div class="col-md-4">
                                    <label>{{'WorkAddress' | translate}} </label>
                                </div>
                                <div class="col-md-8 ">
                                    <textarea class="form-control" formControlName='workAddress'></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="resetForm()"><clr-icon shape="refresh"></clr-icon> {{'Reset' | translate}}</button>
        <button type="button" #cancelBtn class="btn btn-outline" (click)="closeModal()">{{'Cancel' | translate}}</button>
        <button type="submit" #submitBtn class="btn btn-primary" [disabled]="form.invalid" (click)="viewMode == true ? editButtonClicked() : onSubmit(form.value)">
            {{viewMode == true ? ('Edit' | translate) : ('Save' | translate)}}
        </button>
    </div>
</clr-modal>