<header class="header-6">
    <div class="branding">
         <img src="/assets/sat_logo.png" height="50px" width="75px" > 
    </div>
    <div class="header-nav">
        <a routerLink="/dashboard" class="active nav-link nav-text">Dashboard</a>
        <a routerLink="/customer" class="nav-link nav-text">Customer</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>