<clr-header>
    <div class="branding" style="min-width: 15vw">
        <h3 style="color: white">Sattaporn</h3>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/dashboard" class="nav-link nav-text">{{'Dashboard' | translate}}</a>
        <a routerLink="/customer" class="nav-link nav-text">{{'Customer' | translate}}</a>
        <a routerLink="/document" class="nav-link nav-text">{{'Document' | translate}}</a>
        <a routerLink="/email" class="nav-link nav-text">{{'Email' | translate}}</a>
    </div>
    <div class="header-actions">
        <a (click)="openSettingModal()" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
    <app-setting-modal></app-setting-modal>

</clr-header>