<h1>Authentication</h1>

<div class="col-md-12">
  <section class="form-block">
    <form [formGroup]='form'>

      <div class="col-md-12 form-group flex-items-md-center row">
        <div class="col-md-1">
          <label>Username </label>
        </div>
        <div class="offset-md-1 offset-lg-0 col-md-6 col-lg-2">
          <input appValidator type="text" formControlName='username' class="form-control" size="40">
        </div>
      </div>
      <div class="col-md-12 form-group flex-items-md-center row">
        <div class="col-md-1">
          <label>password </label>
        </div>
        <div class="offset-md-1 offset-lg-0 col-md-6 col-lg-2">
          <input appValidator type="password" formControlName='password' class="form-control" size="40"> 
        </div>
      </div>
      <div class="col-md-12 form-group flex-items-md-center flex-items-xs-around row ">
        <div class="offset-md-1 col-md-1 col-xs-1">
          <button class="btn btn-primary btn-sm" (click)='onsubmit(form.value)'>Login</button>
        </div>
        <div class="col-md-1 col-xs-1">
          <button type="button" class="btn btn-danger btn-sm">Reset</button>
        </div>
      </div>

    </form>
  </section>
</div>