<div class="clr-example">
    <clr-tabs>
        <clr-tab>
            <button clrTabLink>{{'Customer' | translate}}</button>
            <clr-tab-content clrTabContentId="content1" *clrIfActive="true">
                <app-customer-search (searchResult)="customerTable.fillTable($event)"></app-customer-search>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
    <div style="margin-top: 5vh"></div>
    <div class="col-12 text-right prevent-top">
        <button type="button" class="btn btn-warning" (click)="addBtnClicked()"><clr-icon shape="plus"></clr-icon> {{'Add' | translate}}</button>
    </div>
    <app-customer-table #customerTable (viewCustomerInfo)="viewCustomerInfo($event)"></app-customer-table>
</div>
<app-customer-form-modal #customerFormModal (updatedCustomer)="customerTable.editRow($event)" (customerModel)="customerTable.addRecord($event)"></app-customer-form-modal>